# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# secrets
functions/firebase-admin-key-dev.json
functions/firebase-admin-key-staging.json
functions/firebase-admin-key-prod.json
functions/.env

# functions config dumps
functions.config.txt
functions/.runtimeconfig.json

# firebase logs
firebase-debug.log
firestore-debug.log

# misc
.DS_Store
/.vscode
/.firebase
npm-debug.log*
yarn-debug.log*
yarn-error.log*
