@import "../../scss/variables.scss";
@import "../../scss/animations.module.scss";

.base {
	border: $border-width-main solid $black;
	background: white;
	padding: 8px 25px;
	text-align: center;
	font-size: 0.9rem;
	font-weight: bold;
	margin-right: 8px;
	display: inline-flex;
	flex-direction: row;

	svg {
		margin-right: 8px;
		animation: spin 1s infinite linear;
	}
}

.regular {
	&:hover {
		background: $black;
		color: $white;
	}
}

.primary {
	background: $black;
	color: $white;
	&:hover {
		background: $black;
		color: $white;
	}
}

.disabled {
	color: #888;
	border-color: #999;
}

.wide {
	width: 100%;
	justify-content: center;
}
