@import "../../scss/variables.scss";

.mainContainer {
	display: flex;
	flex-direction: column;
}

.itemContainer {
	display: flex;
	flex-direction: column;
	@media (min-width: 700px) {
		flex-direction: row;
	}
}

.infoContainer {
	flex: 0 0 100%;
	@media (min-width: 700px) {
		max-width: 50%;
	}
}

.user {
	margin-top: 10px;
}

.description {
	margin-top: 10px;
	color: #3d3d3d;
}

.buttons {
	margin-top: 10px;
	display: flex;
	align-content: flex-start;
}

.mainInfo {
	margin: 0 0 15px;
}
