@import "../../scss/variables.scss";

.mainNav {
	border-bottom: $border-width-main solid $black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 0 9px;
	margin: 0;
	margin-bottom: 10px;
	@media (min-width: 800px) {
		margin-bottom: 30px;
	}

	a {
		text-decoration: none;
	}
	li {
		list-style-type: none;
		padding: 0 12px;
		height: 100%;
		user-select: none;
		.icon {
			margin-right: 8px;
		}
	}
}

.brand {
	font-size: 1.45rem;
	color: $primary;
	flex-grow: 1;
	text-align: left;
}
