@import "./scss/variables.scss";

.mainNav {
	border-bottom: $border-width-main solid $black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 0 9px;
	margin-bottom: 30px;
}
.navLink {
	padding: 0 12px;
	height: 100%;
	user-select: none;
}
.brand {
	font-size: 1.4rem;
	color: red;
	flex-grow: 1;
	text-align: left;
}
