@import "./scss/variables.scss";

.mainContainer {
	display: flex;
	flex-flow: column;
	max-width: 650px;
	@media (min-width: 800px) {
		flex-flow: row;
		max-width: 1100px;
	}
	justify-content: center;
	margin: 0 auto;
}

.sidebar {
	// @media (max-width: 555px) {
	// 	display: none;
	// }
	@media (max-width: 800px) {
		min-height: 280px;
		width: 100%;
	}
	@media (min-width: 800px) {
		width: 250px;
		min-width: 190px;
		margin-right: 10px;
	}
	h4 {
		border-bottom: $border-width-main solid $black;
		padding: 15px 15px 8px;
		margin: 0;
	}
}

.content {
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	justify-content: left;
	@media (min-width: 800px) {
		max-width: 700px;
	}
	@media (min-width: 1100px) {
		max-width: 820px;
	}
}

.header {
	display: flex;
	padding: 15px 15px 8px;
	justify-content: space-between;
}
