body {
	background: #fdfdfd;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Not using :any-link as it causes issues in edge and ie */
a,
a:link,
a:hover {
	color: black; /* fallback for ie */
	color: unset;
	text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
