@import "./scss/variables.scss";

.mainContainer {
	display: flex;
	flex-direction: column;
}

.itemContainer {
	display: flex;
	flex-direction: row;
}

.infoContainer {
	flex: 0 0 50%;
	max-width: 50%;
}

.photosContainer {
	flex: 0 0 50%;
	padding-right: 20px;
	max-width: 50%;
}

.currentImage {
	// cursor: zoom-in;
	width: 100%;
	height: 30vh;
	@media (min-width: 950px) {
		height: 45vh;
	}
	@media (min-width: 1050px) {
		height: 50vh;
	}

	background: $thumbnail-bg;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.thumbnailsContainer {
	display: flex;
	flex-direction: row;
}

// TODO: handle images of different aspect ratios (probably by setting it as background or editing on server side or sth
.thumbnailContainer {
	cursor: pointer;
	height: 74px;
	width: 74px;
	@media (min-width: 950px) {
		height: 84px;
		width: 84px;
	}
	@media (min-width: 1050px) {
		height: 98px;
		width: 98px;
	}
	background: $thumbnail-bg;
	margin: 10px 10px 0 0;
	&:last-child {
		margin-right: 0;
	}
	text-align: center;
	img {
		max-height: 100%;
		max-width: 100%;
	}
}

.user {
	margin-top: 10px;
}

.description {
	margin-top: 10px;
	color: #3d3d3d;
}

.buttons {
	margin-top: 10px;
}

.mainInfo {
	margin: 0 0 15px;
}
