@import "variables.scss";

body {
	margin: 0 20px;
	padding: 0;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

a:any-link {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: $primary;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.link {
	text-decoration: underline;
}
